*.a
*.o
*.mod
*.mtx
*.smod
*~
*.log

# header files generated
/cbind/*.h
/util/psb_metis_int.h
/base/modules/psb_config.h

# Make.inc generated
/Make.inc
config.log
config.status

# generated folder
/include/
/modules/
docs/src/tmp
autom4te.cache

build/


# the executable from tests
runs

