*.a
*.o
*.mod
*.mtx
*.smod
*~

*.out
*.err
*.csv
*.log
leonardo_comm_script.sh

# header files generated
/cbind/*.h
/util/psb_metis_int.h
/base/modules/psb_config.h

# Make.inc generated
/Make.inc
config.log
config.status

# generated folder
/include/
/modules/
docs/src/tmp
autom4te.cache

# the executable from tests
runs
data

# CMake build directory
build/

