*.a
*.o
*.mod
*~

# header files generated
/cbind/*.h
/util/psb_metis_int.h

# Make.inc generated
/Make.inc
config.log
config.status

# generated folder
/include/
/modules/
docs/src/tmp
autom4te.cache

# the executable from tests
runs

